<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
	
	<iisnode loggingEnabled="true" debuggingEnabled="false" devErrorsEnabled="false" flushResponse="false" />
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/bassoontracker/api/server.js" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/bassoontracker/api/server.js" responseMode="ExecuteURL" />
        </httpErrors>

  </system.webServer>
</configuration>
